
.profile-list {
    display: flex;
    justify-content: center;
}

h1, h4 {
    color: #080038;
    margin-top: 15px;
}

.profile-list > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 4px #b6b5ff;
    border-radius: 4px;
    padding: 30px;
    background: #f8f7ff;
}

.profile-list > ul > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 5px;
    margin: 5px 0;
}

.profile-list > ul > li > * {
    padding: 0;
    margin: 0;
}
